<!-- <article class="flex-l flex-wrap justify-between mw8 center ph3">
  <header class="mt4 w-100">
    <div class="custom-hero-section">
      <div class="hero-content">
        <h1 class="f1 athelas mt3 mb1">{{ .title | default "Automatiza tu trabajho" }}</h1>
        <p class="f4 mt0 mb3 lh-title measure-wide">{{ .description | default "Crea sitios web hermosos y funcionales con nuestro sistema de bloques reutilizables." }}</p>
        <a href="{{ .cta_link | default "#" }}" class="custom-cta-button">{{ .cta_text | default "Empezar Ahora" }}</a>
      </div>
    </div>
  </header>
</article> 

SEGUNDO:

<section class="hero-section">
  <div class="hero-content mw8 center ph3 tc">
    <h1 class="hero-title mt3 mb1">{{ .title | default "Automatiza tu trabajo" }}</h1>
    <p class="hero-description measure-wide center">{{ .description | default "Crea sitios web hermosos y funcionales con nuestro sistema de bloques reutilizables." }}</p>
    <p></p>
    <a href="{{ .cta_link | default "#" }}" class="custom-cta-button mt3">{{ .cta_text | default "Empezar Ahora" }}</a>
<p></p>  
</div>
</section>-->

<section class="hero-section spaciado">
  <div class="hero-content mw8 center ph3 tc">
    <h1 class="hero-title mt3 mb1">{{ .title | default "Escala tu negocio, no el caos." }}</h1>
    <p class="hero-description measure-wide center spaciado">{{ .description | default "Transformamos tus procesos manuales en un sistema de negocio moderno, centralizado y tan simple que podrás gestionarlo desde tu móvil. Deja de ser un autoempleado atrapado en tu propia empresa y conviértete en el director que tu visión necesita." }}</p>
    <a href="{{ .cta_link | default "/contact" }}" class="spaciado custom-cta-button mt3">{{ .cta_text | default "Agendar mi Sesión de Claridad Gratuita" }}</a>
  </div>

</section>